<body, ul, li, h1, h2, a{
  margin: 0;
  padding:0;
  font-family: arial;
}

/*POSITIONING AN ELEMENT */
header {
background-color: #f63232;
padding: 20PX;
text-align: center;
position: fixed;
width: 100%;
z-index: 1;
top: 0;
left: 0;
 
} 

header h1{
  color: white;
  border: 8px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
}

.banner{
  position: relative;
}
.banner img{
  max-width: 1200px;
 
}
.banner .welcome{
    background-color: #FEB614;
    color: white;
    padding: 3px;
    position: absolute;
    left: 10px;
    top: 200px;
}
  .banner h2{
    font-size: 40px ;
  }
  .banner h2 span{
    font-size: 1.3em;
  }

  nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 140px;
   
  }
  nav ul{
    white-space: nowrap; /*Help us to write navigation in one single line*/
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li{
    width: 25% ;
    display: inline-block;
    font-size: 24px;
  }
  nav li a{
    text-decoration: none;
    color: #4b4b4b;
  }
  nav li a.join{
    color: #f63232;
  }

  main {
  max-width: 1000px;
  width: 1200px;
   margin: 10px 100px;
  padding: 0 40px;
  box-sizing:border-box; /*help us to put our paragranph in one box */
}


article h2{
  color: #f63232;
  font-size: 48px;
}  
article p{
  line-height: 2em; /*determine space between lines  in a paragraph*/
  color: #4b4b4b;
}  


.images{
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}
.images li{
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
}
.images li img{
 max-width: 100%; 
}


section.join{
  background: #f4f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #4b4b4b;

}
.join h2{
  font-size: 36px;
}
form input{
  margin: 20px 0px;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
}
footer{
  background: #f63232;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

/*PSEUDO CLASSES*/

nav li a:hover{
text-decoration: underline;
background-color: pink;
padding: 3px;
}
.images li:hover{
position: relative;
top: -4px;
}
form input:focus{
  border: 4px dashed #4b4b4b;
  outline: none;
}
form input:valid{
  border: 4px solid #71d300
}
article p::first-line{
  font-weight: bold;
  font-size: 1.2em;
}
section.join p::first-letter{
  font-size: 1.5em;
} 
p::selection{
  background-color: #f30404f4;
  color: white;
}
p::after{
  content: '...';
}
/*RESPONSIVE VIEW*/
@media screen and (max-width:1400px){
  
  .banner .welcome h2{
  font-size: 40px;
}
 nav li{
  font-size: 18px;
 }
}
@media screen and (max-width:960px){
  
  .banner .welcome h2{
  font-size: 20px;
  }
}
@media screen and (max-width:700px){
  
  .banner .welcome{
position: relative;
text-align: center;
top:0px;
padding: 10px;
  }
  .banner.welcome br{
    display: none;
  }
  .banner .welcome h2{
    font-size: 15px;
    }
    .banner.welcome span{
    font-size: 1em;
    }
    .images li{
      width: 300px;
      margin: 20px auto;
       display: block;
    }
}
@media screen and (max-width:560px){
  
  nav li{
    font-size: 18px;
    display: block;
    width: 100%;
    margin: 12px 0;
  }
  header{
    position: relative;
  }
  nav{
    top: 0;
  }
}
@media screen and (max-width:760px){
  
main {
    font-size: 15px;
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  main ul{
    width: 100%;
    margin: 10px auto;
  }
}